.payment-tracker-button {
    all: unset;
    height: calc(var(--payment-tracker-sizing-unit) * 6);
    border-radius: calc(var(--payment-tracker-sizing-unit) * 3);
    width: calc(var(--payment-tracker-sizing-unit) * 30);
    display: table-cell;
    vertical-align: middle;
    color: white;
    text-align: center;
    margin: calc(var(--payment-tracker-sizing-unit) * 2) auto;
    padding: 0;
}

.payment-tracker-button--delete {
    background-color: var(--payment-tracker-red);
}

.payment-tracker-button--action {
    background-color: var(--payment-tracker-green);
}
