@import url('https://fonts.googleapis.com/css2?family=Hind:wght@300;400;500;600;700&display=swap');
@import './components/TitleBanner/TitleBanner.css';
@import './components/BillPaymentItem/BillPaymentItem.css';

body {
  margin: 0;
  font-family: 'Hind', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Variables */
  --payment-tracker-red: #c81a0d;
  --payment-tracker-green: #00cd50;
  --payment-tracker-blue: #00b3f5;
  --payment-tracker-light-grey: #d0d5dc;
  --payment-tracker-medium-grey: #445368;
  --payment-tracker-dark-grey: #445368;
  --payment-tracker-sizing-unit: 8px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


