.bill-payment-item__container {
    display: flex;
    flex-direction: column;
}

.bill-payment-item__name-and-price-container {
    display: flex;
}

.bill-payment-item__name {
    font-size: 14pt
}

.bill-payment-item_frequency-and-date-container {
    display: flex;
}
